<div class="container">
    <div class="row">
        <div class="col-3 me-5">
            <h1>Progetti:</h1>
            <mat-list>
                <mat-list-item><a routerLink="fizzbuzz">Fizz Buzz</a></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 3</mat-list-item>
            </mat-list>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

